body {
    font-family: inter, serif;
    margin: 0;
    background: #1C1C1C;
    color: white;
    width: 550px;
}

/* Typography */

h1 {
    font-size: 28px;
}

header, section, #input-txt{
    text-align: center;
    font-weight: 800;
}

header, button {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 500;
    background: white;
}

header, 
#input-txt {
    background: #6943ff;
    color: inherit;
}

.main h2 {
    font-size: 20px;
    font-weight: 600;
    color: #CCC1FF;

}

.main .conversion-container {
    font-size: 14px;
    font-weight: 400;
}

/* Layout */

header {
    
    padding-top: 18px;
    padding-bottom: 36px;
}

section {
    padding: 18px 0;
}

.input-section {
    align-items: center;
}

#input-txt {
    border: #B295FF solid 1px;
    font-size: 58px;
    width: 170px;
    height: 83px;
}

#convert-btn {
    border: none;
    border-radius: 5px;
    width: 117px;
    height: 42px;
    margin-top: 27px;
}

.main,
.conversion-container,
.input-section {
    display: flex;
    flex-direction: column;
}

.main {
    background: #1F2937;
    height: 444px;
    justify-content: space-evenly;
}

.conversion-container {
    width: 500px;
    height: 109px;
    margin: 0 auto;
    background: #273549;
}

.conversion-header {
    margin: 31px 0 0 0;
}

